.valueTable {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 24px;
    grid-row-gap: 24px;

    @media screen and (min-width:768px) {
        grid-template-columns: repeat(4, 1fr);
    }

    @media screen and (min-width:1280px) {
        grid-column-gap: 36px;
        grid-row-gap: 36px;
    }
}

.gridFirst {
    grid-area: 1 / 1 / 2 / 2;
}

.gridSecond {
    grid-area: 1 / 2 / 2 / 3;
}

.gridThird {
    display: none;

    @media screen and (min-width:768px) {
        display: block;
        grid-area: 1 / 3 / 2 / 5;
    }
}

.gridFour {
    display: none;

    @media screen and (min-width:768px) {
        display: block;
        grid-area: 2 / 1 / 3 / 3;
    }
}

.gridFive {
    grid-area: 2 / 1 / 3 / 2;

    @media screen and (min-width:768px) {
        grid-area: 2 / 3 / 3 / 4;
    }
}

.gridSix {
    grid-area: 2 / 2 / 3 / 3;

    @media screen and (min-width:768px) {
        grid-area: 2 / 4 / 3 / 5;
    }
}