@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #173D33;
  --accent-color: #97D28B;
  --background-color: #F3F5FA;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--primary-color);
  background: var(--background-color);
}

.container-main {
  max-width: 480px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;

  @media screen and (min-width: 768px) {
    max-width: 768px;
    padding: 0 30px;
  }

  @media screen and (min-width: 1280px) {
    max-width: 1280px;
    padding: 0 100px;
  }
}

.section-main {
  margin-bottom: 36px;

  @media screen and (min-width: 768px) {
    margin-bottom: 100px;
  }

  @media screen and (min-width: 1280px) {
    margin-bottom: 120px;
  }
}

.hoverClass {
  transition: filter 0.3s ease;
}
.hoverClass:hover {
  filter: brightness(0) saturate(100%) invert(62%) sepia(3%) saturate(4773%) hue-rotate(104deg) brightness(101%) contrast(99%);
}
.hoverButton {
  transition: filter 0.3s ease;
}
.hoverButton:hover img{
  filter: brightness(0) saturate(100%) invert(62%) sepia(3%) saturate(4773%) hue-rotate(104deg) brightness(101%) contrast(99%);
}